<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciel</title>
    <link  rel="stylesheet" href="{{ url_for('static' , filename='Giacss.css') }}"/>
</head>
<body>
    <h1 class="centrer titre ligne"> Ciel</h1>

    <p class="centrer orange bold espace2">Presentation du BTS CIEL</p>
    <p class="centrer orange bold espace2"> Le BTS CIEL (Cyber sécurité, Informatique et réseaux, Electronique)</p>
    <p class="justify orange bold espace2">La formation en BTS Cyber sécurité vise à former des professionnels capables de protéger les systèmes
         informatiques contre les cybermenaces croissantes. Les étudiants acquièrent des compétences dans la détection des vulnérabilités,
          la gestion des incidents de sécurité, la mise en place de stratégies de protection des données, et la sécurisation des réseaux. 
          Ce BTS prépare les diplômés à travailler dans des domaines tels que la sécurité informatique, 
          la gestion des risques, et la veille technologique. </p>

    <p class="center orange bold espace"> Informatique et réseaux forme des professionnels polyvalents dans le domaine de l'informatique.
         Les étudiants apprennent à concevoir, mettre en place et maintenir des infrastructures informatiques et des réseaux.
          Les compétences couvrent la programmation, l'administration des systèmes, 
          la gestion de bases de données, la configuration réseau, et la résolution de problèmes informatiques.
           Les diplômés peuvent travailler en tant que techniciens informatiques, administrateurs réseaux ou développeurs d'applications.</p>

    <p class="center orange bold espace"> Électronique forme des techniciens spécialisés dans les domaines de l'électronique industrielle,
         de la maintenance des équipements électroniques et de la conception de systèmes électroniques. 
         Les étudiants acquièrent des compétences dans la conception de circuits, la programmation des microcontrôleurs,
          la maintenance d'équipements électroniques, et la gestion de projets électroniques. Les diplômés peuvent travailler dans des secteurs
           tels que l'industrie électronique, la télécommunication, ou la domotique.
        Ces BTS offrent une combinaison de connaissances théoriques et de compétences pratiques, 
        préparant les étudiants à intégrer le marché du travail dans des secteurs en constante évolution. 
        Les stages et projets pratiques sont souvent intégrés dans ces programmes pour offrir une expérience concrète aux étudiants. </p>

<div class="ligne espace">

    <li><a href="{{ url_for('page4') }}" class="bold orange espace2">Index</a></li>
    <li><a href="{{ url_for('page1') }}" class="bold orange espace2">SNIR</a></li>
    <li><a href="{{ url_for('page3') }}" class="bold orange espace2">Etudes Supérieures</a></li>

</div>

</body>
</html>