<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etudes sup</title>
    <link  rel="stylesheet" href="{{ url_for('static' , filename='Giacss.css') }}"/>
</head>
<body>
    <h1 class="centrer titre ligne"> Etudes Superieures</h1>

    <p class="centrer orange bold espace2">Presentation des études Supérieures</p>

    <p class="centrer justify orange bold espace2">
        Les études supérieures représentent une étape importante dans le parcours éducatif d'un individu, 
        offrant des opportunités d'approfondir ses connaissances, de se spécialiser dans un domaine particulier et 
        de se préparer à une carrière professionnelle. Voici une présentation générale des études supérieures 
        Les études supérieures englobent une gamme diversifiée de programmes académiques et professionnels accessibles aux étudiants titulaires 
        d'un diplôme de premier cycle. Ces programmes offrent une opportunité unique d'approfondir la compréhension d'un domaine spécifique,
         de développer des compétences avancées, et d'explorer de nouvelles perspectives intellectuelles.</p>

    <p class="centrer justify orange bold espace2">Les études supérieures représentent une opportunité stimulante d'explorer,
         de se développer intellectuellement, et de se préparer à des défis professionnels. 
         Que ce soit pour acquérir une expertise technique, poursuivre la recherche académique, 
         ou exceller dans le monde des affaires, les études supérieures ouvrent la porte à un large éventail de possibilités et d'accomplissements.</p>


         <div class="ligne espace">

    <li><a href="{{ url_for('page1') }}" class="bold orange espace2">SNIR</a></li>
    <li><a href="{{ url_for('page2') }}" class="bold orange espace2">CIEL</a></li>
    <li><a href="{{ url_for('page4') }}" class="bold orange espace2">Index</a></li>
         </div>
</body>
</html>