<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snir</title>
    <link  rel="stylesheet" href="{{ url_for('static' , filename='Giacss.css') }}"/>
</head>
<body>
    <h1 class="centrer titre ligne"> SNIR</h1>
    <p class="centrer orange bold espace">Page html presentation</p>
    <p class="centrer orange bold espace2">Presentation du BTS SNIR</p>
    <p class="centrer orange bold espace2">Le BTS SNIR a pour objectif de former des techniciens supérieurs capables de concevoir,
         mettre en place et maintenir des systèmes informatiques et des réseaux. Les diplômés sont opérationnels dans le développement logiciel, 
         la gestion des réseaux, la maintenance des équipements informatiques et la résolution de problèmes techniques. </p>

         <p class="centrer orange bold espace2">  Les étudiants acquièrent des compétences en programmation (langages comme C, Java), 
            en développement d'applications, et en gestion de bases de données.
            Le programme couvre la configuration et la gestion des réseaux informatiques, ainsi que la sécurité des données transitant à travers ces réseaux.
            Les bases de l'électronique et de la micro-informatique sont enseignées, permettant aux étudiants de comprendre le fonctionnement des composants 
            électroniques et des systèmes embarqués.
            Les étudiants réalisent un projet concret au cours de leur formation, mettant en pratique les compétences acquises.</p>



         <div class="ligne espace">   
    <li><a href="{{ url_for('page4') }}" class="bold orange espace2">Index</a></li>
    <li><a href="{{ url_for('page2') }}" class="bold orange espace2">CIEL</a></li>
    <li><a href="{{ url_for('page3') }}" class="bold orange espace2">Etudes Supérieures</a></li>
    </div>  

</body>
</html>